<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jtinteractive.mandarinlearning" >
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_icon_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_icon_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.MandarinLearning"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.play.link.LinkPlayActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.dictionary.CropActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service android:name="com.jtinteractive.mandarinlearning.data.remote.service.SyncIntentService" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.play.mean.QuizPlayActivity"
            android:exported="false" />
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.dictionary.hsk.HskActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.detail.DetailCharacterActivity"
            android:exported="false" />
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.jtinteractive.mandarinlearning.ui.main.MainActivity"
            android:exported="false" >
        </activity>
    </application>

</manifest>